@font-face {
  font-family: "Exo2";
  src: url("./assets/fonts/Exo2-Regular.otf");
}
#animate-badge {
  transform: scale(1) rotate(0deg);
  transition: transform 1s;
}
#animate-badge:hover {
  transform: scale(1.5) rotate(-360deg);
  transition: transform 0s;
}

#button-shadow {
  box-shadow: 3px 3px rgba(21, 144, 192, 0.925);
}

body {
  background-color: rgb(31, 134, 175);
  background-image: linear-gradient(rgb(13, 56, 61), rgb(34, 134, 175), rgb(13, 56, 61));
  font-size: 25px;
  color: rgb(0, 0, 0);
}

article h2 {
  text-shadow: 3px 3px rgb(48, 69, 83);
}

h2 {
  width: fit-content;
}
h2:hover {
  color: rgba(255, 166, 0, 0.705);
}

label {
  font-size: 20px;
}

.opacity75 {
  opacity: 0.75;
}

.botsig {
  text-align: center;
}

.card {
  background-color: rgb(31, 134, 175);
  width: 40vw;
}

.border-dashed {
  border-style: dashed !important;
}

.coninfo {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}