@font-face {
  font-family: "Exo2";
  src: url("fonts/exo2-regular.otf");
}
body {
  background-color: rgb(22, 98, 128);
  font-family: "Exo2";
  font-size: 25px;
  color: rgb(0, 0, 0);
}

h2:hover {
  color: rgba(255, 166, 0, 0.705);
}

label {
  font-size: 20px;
}

.botsig {
  text-align: center;
}

.card {
  background-color: rgb(22, 98, 128);
  width: 40vw;
}

.border-dashed {
  border-style: dashed !important;
}

.coninfo {
  font-family: "Exo2";
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}